<div class="flex flex-row overflow-hidden pt-7 mx-8">
  <div class="toggle-container">
    <input class="l border-neutral-900 dark:border-slate-50" type="checkbox" [checked]="lightsOn" (change)="switchLight()">
  </div>
  <div class="cross right after:text-neutral-900 after:dark:text-slate-50 after:font-thin"></div>
</div>

<router-outlet></router-outlet>

<div class="flex flex-row overflow-hidden pb-7 mx-8">
  <div *ngIf="currentRoute == '/'" class="cross after:text-neutral-900 after:dark:text-slate-50 after:font-thin"></div>
  
  <div *ngIf="currentRoute != '/'" class="mini-logo-container"
    (click)="onClickMiniLogo()">
    <div id="logo" class=" bg-neutral-900 dark:bg-white"></div>
  </div>

  <div class="cross right after:text-neutral-900 after:dark:text-slate-50 after:font-thin"></div>
</div>
