<!-- light switch-->
<!-- <div class="flex justify-center">
  <div class="form-check form-switch">
    <input id="lightSwitch" class="form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top
       bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm" 
        type="checkbox" role="switch" id="flexSwitchCheckDefault" [checked]="lightsOn" (change)="switchLight()">
    <label class="form-check-label inline-block text-gray-800" for="flexSwitchCheckDefault">Default switch checkbox input</label>
  </div>
</div>   -->
<div class="toggle-container">
  <!-- <label class="slot">
    <span class="slot-label">Lights</span>
  </label>
  <input class="toggle" type="checkbox" role="switch" name="toggle" value="on">
  <label for="toggle" class="slot">
    <span class="slot-label">FF</span>
    <span class="slot-label">N</span>
  </label>

  <i class="fa fa-lightbulb-o" style="font-size:48px;color:red"></i> -->

  <input class="l" type="checkbox" [checked]="lightsOn" (change)="switchLight()">
</div>

<router-outlet></router-outlet>
