/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Noto Sans';

  transition: background-color 5s, color 5s;
  transition-timing-function: ease-in-out;

  //transition: color 5s;
 
}

div::before, div::after{
  transition: background-color 5s, color 5s;
  transition-timing-function: ease-in-out;
}